<% @orders.each do |order| %>

	<h3><%= link_to order.id, order_path(order) %></h3>

	<% order.cart&.order_items .each do |item| %>
		<h3><%= item.product.title %> </h3>
		<h4>Quantity: <%= item.quantity %> (<%= item.product.price %>/q)</h4>
		<hr>
	<% end %>

	<hr>

<% end %>