<h2>Featured Pins</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aspernatur numquam rem quam perferendis ratione earum possimus fugiat soluta doloribus?</p>

<%= render partial: "products/product", collection: @featured_products %>